@import 'flex';
@import 'fonts';

body {
    @extend .flex-col;
    background-color: #f1f1f1;
    font-family: cabin;
}

.title {
    font-size: 80px;
}

.sub-title {
    font-size: 25px;
}

.footer-text {
    color: black;
    font-size: 18px;
}