$main-font: Arial;

body {
    padding: 20px;
    background-color: #f1f1f1;
    font: $main-font;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.flex-row {
    @extend .flex;
    flex-direction: row;
}

.flex-col {
    @extend .flex;
    flex-direction: column;
}

.clickable {
    cursor: pointer;
}

.title {
    font-size: 80px;
}

.sub-title {
    font-size: 25px;
}

.footer-text {
    color: black;
    font-size: 18px;
}