@import 'flex';

body {
    @extend .flex-col;
    padding: 20px;
    background-color: #f1f1f1;
}

.title {
    font-size: 80px;
}

.sub-title {
    font-size: 25px;
}

.footer-text {
    color: black;
    font-size: 18px;
}